

*{
    margin:0;
    padding: 0;

}

body{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
}

    
.container {
    min-width: 300px;
    width: 390px;
    height: 680px ;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid whitesmoke;
    overflow: hidden;
    margin-top: 10px;

}
.container img {
    width: 200px;
    height: 200px;
    border-radius:50%;
    border: 3px solid whitesmoke;
    margin: 30px auto;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}
.container img:hover {
  width: 390px;
  height: 400px;
  border-radius:10px;
  border: 3px solid whitesmoke;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.container h2{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin-top: -10px;
    font-family: 'Roboto Con', Sans-serif;
    margin-bottom: 19%;
    text-shadow: 3px 2px 5px rgba(0,0,0,0.76);
}
.container .more{
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    font-family: 'OCR A Std', monospace;
    padding-bottom:10px;
    text-shadow: 3px 2px 5px rgba(0,0,0,0.76);
}
.container p {
  font-size: 20px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 3px 2px 5px rgba(0,0,0,0.76);
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
.container button{
  background: var(--primaty-color);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  margin-bottom: 15px;
  width: 260px;
  height: 37px;
  border-radius: 10px;
  transition: .2s;
  font-weight: bold;
  font-family: 'Roboto Condensed', cursive;
  transition-duration: 0.3s;
  transition-property: color, background-colors;
  backdrop-filter: blur(5px);
  box-shadow: 10px 11px 20px -4px rgba(0,0,0,0.69);
  transition: 0.2s;
  font-size: 13px;
}

.container button:hover {
    font-weight: bold;
    transform: translateY(-4px) translate(-3px);
    color: rgb(255, 255, 255);
    background: rgba(245, 245, 245, 0.423);

    

}
hr {
    border: none;
}
/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */   #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
